<div>
  <div class="main-nav-header">
    <div class="pull-left">
      <h3>{{'main_nav.infomgt' | translate}}</h3>
    </div>
  </div>
  <div class="pull-left full-width">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{'information.t1' | translate}}</h2>
          <p class="lead">{{'information.c1' | translate}}</p>
          <p>{{'information.c11' | translate}}</p>
          <p>{{'information.c12' | translate}}</p>
          <p>{{'information.c13' | translate}}</p>
          <h3>{{'information.t2' | translate}}</h3>
          <p>{{'information.c2' | translate}}</p>
          <p>{{'information.c21' | translate}}</p>
          <p>{{'information.c22' | translate}}</p>
          <h3>{{'information.t3' | translate}}</h3>
          <p>{{'information.c3' | translate}}</p>
          <p>{{'information.c31' | translate}}</p>
          <p>{{'information.c32' | translate}}</p>
          <h3>{{'information.t4' | translate}}</h3>
          <p>{{'information.c4' | translate}}</p>
          <p>{{'information.c41' | translate}}</p>
          <p>{{'information.c42' | translate}}</p>
          <h3>{{'information.t5' | translate}}</h3>
          <p>{{'information.c5' | translate}}</p>
          <p>{{'information.c51' | translate}}</p>
          <p>{{'information.c52' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  p {
    font-size: 150%;
    font-weight: 300;
    width: 75%;
  }
</style>