<div>
  <div class="pull-left full-width">
    <button type="button" class="btn btn-info btn-sm btn-control" ng-click="getComponents()" >
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
      <span ng-bind="'common.refresh' | translate"></span>
    </button>
    <table class="table table-striped">
      <tr>
        <th ng-bind="'common.name' | translate"></th>
        <th ng-bind="'component.ip' | translate"></th>
        <th ng-bind="'component.health' | translate"></th>  
      </tr>
      <tr ng-repeat="item in components track by $index">
        <td ng-bind="::item.componentName"></td>
        <td ng-bind="::item.ip"></td>
        <td><status type="{{item.status}}"></status></td>
      </tr>
    </table>
  </div>
</div>
