.text-align-right {
  text-align: right;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}

.font-bold {
  font-weight: bold;
}

.font-16 {
  font-size: 16px;
}

.font-12 {
  font-size: 12px;
}

.margin-top {
  margin-top: 12px;
}

.fit-width {
  width: 100%;
}

.padding-horizontal {
  padding-left: 6px;
  padding-right: 6px;
}