
<div class="modal-header">
	 <button type="button" class="close" aria-label="Close" ng-click="close('close')"><span aria-hidden="true">&times;</span></button>
	<h4>{{'config.key.createSuccess' | translate}}</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" novalidate>
		<h5>{{'config.key.downloadTips' | translate}}</h5>
	</form>
</div>
<div class="modal-footer">
	<button ng-click="close('close')" class="btn btn-primary">
	{{'common.ok' | translate}}
	</button>
</div>